pandas
requests
sqlalchemy
psycopg2-binary
python-dotenv
openpyxl
boto3
beautifulsoup4   # for Rentals.ca scraper
lxml             # helps pandas/bs4 parse HTML tables
pytest
vaderSentiment>=3.3.2
matplotlib
reportlab
